:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    --background: #242424;
    --foreground: #efefef;
    --primary: #1a1a1a;
    --primary-fg: #e4e4e4;
    --border: #ff4500;

    color-scheme: light dark;
    color: var(--foreground);
    background-color: var(--background);
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground: #242424;
        --background: #f9f9f9;
        --primary: #e4e4e4;
        --primary-fg: #1a1a1a;
        --border: #ff4500;

        color: var(--foreground);
        background-color: var(--background);
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1, h2, h3, h4, button, input, label {
    line-height: 1.1;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
}

#app {
    max-width: 1024px;
    margin: 0 auto;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    background-color: var(--primary);
    color: var(--primary-fg);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:disabled {
    pointer-events: none;
    opacity: 50%;
}

button:hover {
    border-color: var(--border);
}
